// Body
$body-bg: #f8fafc;

//fonts
@import url("https://fonts.googleapis.com/css?family=Quintessential&display=swap&subset=latin-ext");

// Colors
$primary: #e5097f;
$secondary: #c5c6c6;

$gray: rgb(114, 114, 113);
$blue: rgb(0, 160, 227);

$arial: "Arial", sans-serif;
$sen: "Quintessential", cursive;
