.page-main__slider {
  margin-top: 10px;
  border: 5px solid $primary;
}
.page-main__slider.open {
  margin-top: 220px;
}
.prev-icon,
.next-icon {
  font-size: 40px;
  font-weight: bold;
  color: $secondary;
  text-shadow: 1px 1px 3px black;
}
@media screen and (min-width: 770px) {
  .page-main__slider {
    .carousel-indicators li {
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background-color: $primary;
      border: 2px solid rgba(#fff, 0.5);
    }
    position: relative;
    margin-top: -50px;
    .carousel-caption {
      position: absolute;
      top: 20px;
      right: 0;
      left: 40%;
      height: 88px;
      font-size: 43px;
      bottom: inherit;
      background-color: rgba(225, 5, 133, 0.5);
      padding: 0;
      p {
        margin-bottom: 0;
        margin-top: 10px;
        font-family: $sen;
      }
    }
  }
}
